<header class="sidebar-header">
    <a href="/admin" class="header__logo">TUAN</a>
    <div class="header__button">
        <button class="searchBtn" aria-expanded="false">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="17" height="17" viewBox="0 0 30 30">
                <path d="M 13 3 C 7.4889971 3 3 7.4889971 3 13 C 3 18.511003 7.4889971 23 13 23 C 15.396508 23 17.597385 22.148986 19.322266 20.736328 L 25.292969 26.707031 A 1.0001 1.0001 0 1 0 26.707031 25.292969 L 20.736328 19.322266 C 22.148986 17.597385 23 15.396508 23 13 C 23 7.4889971 18.511003 3 13 3 z M 13 5 C 17.430123 5 21 8.5698774 21 13 C 21 17.430123 17.430123 21 13 21 C 8.5698774 21 5 17.430123 5 13 C 5 8.5698774 8.5698774 5 13 5 z"></path>
                </svg>
        </button>
    </div>
</header>
   <div class="sidebar-container-inside">
       <img src="/img/tarre-round.png" alt="Tuan long hair " class="tuan-image">
   </div>

   <div class="sidebar-menu">
       <nav class="header__nav">
           <ul>
               <li>
                   <a href="/" class="<%= activePage === 'Home' ? 'active' : '' %>">Home</a>
               </li>
               <li>
                   <a href="/about" class="<%= activePage === 'About' ? 'active' : '' %>">About</a>
               </li>
               <li>
                   <a href="/contact" class="<%= activePage === 'Contact' ? 'active' : '' %>">Contact</a>
               </li>
           </ul>
       </nav>
   </div>

<div class="sidebar-container-inside">
    <div class="sidebar-content">
        <h2>Welcome!</h2>
        <h3>
            Java developer, soon to be! This is my blog, please stay tuned to follow my journey. <br><br>Experience in:
        </h3>
        <img src="./img/java-icon.png" alt="Java" class="custom-image">
        <img src="./img/html-icon.png" alt="HTML" class="custom-image">
        <img src="./img/css-icon.png" alt="Css" class="custom-image">
        <img src="./img/bootstrap-icon.png" alt="Bootstrap" class="custom-image">
        <img src="./img/docker-icon.png" alt="Docker" class="custom-image">
        <img src="./img/github-icon.png" alt="Github" class="custom-image">
        <img src="./img/javascript-icon.png" alt="Javascript" class="custom-image">
        <img src="./img/kotlin-icon.png" alt="Kotlin" class="custom-image">
        <img src="./img/mongodb-icon.png" alt="MongoDB" class="custom-image">
        <img src="./img/nodejs-icon.png" alt="NodeJS" class="custom-image">
        <img src="./img/postgres-icon.png" alt="Postgres" class="custom-image">
        <img src="./img/springboot-icon.png" alt="Spring Boot" class="custom-image">

        <div class="filler">
            
        </div>
    </div>
</div>
