<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<div class="author">
    <p class="author__body">
        <img src="/img/tarre-round.png" alt="Tarre looking out through the window" class="tarre-image-contact">
        <h2>Feel free to connect with Tarre</h2>
        <h3>LinkedIn: </h3>
            <a href="<%= locals.linkedinUrl %>" target="_blank">
                <i class="fab fa-linkedin fa-4x"></i>
            </a>
        <br>
        <h3>Github: </h3>
            <a href="<%= locals.githubUrl %>" target="_blank">
                <i class="fab fa-github fa-4x"></i>
            </a>
    </p>
</div>