<div class="author">
    <h1 class="author__heading">Welcome to my blog</h1>
    <p class="author__body">Java developer, soon to be. Please follow my journey.</p>
    <p class="author__body"><img src="/img/tarre-round.png" alt="Tarre long hair" class="tarre-image-index"></p>
</div>

<section class="articles">
    <h2 class="articles__heading">Latest Posts</h2>
    <ul class="article-ul">
        <% data.forEach(post => { %>
            <li>
                <a href="/post/<%= post.id %>">
                    <span><%= post.title %></span>
                    <span class="article-list__date"><%= post.created_at.toDateString() %></span>
                </a>
            </li>
        <% }) %>
    </ul>

    <% if (nextPage !== null) { %>
        <a href="/?page=<%= nextPage %>" class="pagination">&lt; View Older Posts</a>
    <% } %>

</section>