<main class="main-admin">
    <a href="/">&larr; Back</a>
    <div class="author">
        <p class="author__body">
            <h1><%= data.title %></h1>
            <article class="article"><%= data.body %>
            </article>
        </p>
    </div>
</main>